*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --border: 2px solid var(--color);
  --color: midnightblue;
  --bg-color: darkgray;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  border: var(--border);
  width: 80%;
  height: 120px;
  max-width: 450px;
  font-weight: bold;
  font-size: 3.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color);
}

#alarm > div{
  display: flex;
  gap: 0.5em;
  margin-top: 3em;
  font-size: 1.2rem;
  align-items: center;
}

#alarm > div > button{
  padding: 0.5em;
  font-weight: bold;
  border: var(--border);
  background-color: var(--bg-color);
  color: var(--color);
  cursor: pointer;
  transition: 0.2s ease-in;

  &:hover{
    color: var(--bg-color);
    background-color: var(--color);
  }
}